
html{
  font-size: 100%;
}




.fas_fa-at{

}

#left{
  color:white;
  background-color:  #333333;
  width: auto;
  font-family: 'Arimo', sans-serif;
 
}

#left-image{
  size: auto;
  text-align: center;
  padding-bottom: 60px;
}


#left-contact{
  padding-top: 45px;
  padding-bottom: 45px;

}

#left-langues{
  padding-bottom: 45px;
}

#left-interet{
  padding-bottom: 45px;
}

#right{
  background-color: #DCEDC8;
  font-family: 'Arimo', sans-serif;
  width: auto;
  padding-left: 40px;
}

#right-experience{

}

#right-formation{

}

#right-projets{

}

#photo{
  border-radius:50%;
  height:10rem;
  width: 10rem;
}

.hr-black { 
  display: block;
  border-top: 1px solid black;
  max-width: 90%;

}

.hr-white{
  display: block;
  border-top: 1px solid white;
  max-width: 50%;
  max-width: 90%;
}

header{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}

.h1{
  font-size: 1rem;
  font-weight: bold;
}

.h2{
  font-size: 0.7rem;
  font-weight: bold;
}

.h3{
  font-size: 0.6rem;
}

.p{
  font-size: 0.4rem;
}


@media ( min-width : 480px ) { /*tablets*/
  #container{
    margin:  auto;
    width: 100%;
  }
  .sidebar{
    font-size: 0.7rem ;
    text-align: center;
  }
  #photo{
  border-radius:50%;
  height:5rem;
  width: 5rem;
}
}

@media ( min-width : 768px ) { /*tablets*/
  #left{
    width: auto;
  }
  #right{
    width: auto;
  }
  .h1{
    font-size: 1.2rem ;
  }
  .h2{
    font-size: 1rem ;
  }
  .h3{
    font-size: 0.8rem ;
  }
  .p{
    font-size: 0.6rem ;
  }
  .sidebar{
    font-size: 1rem ;
    text-align: center;
  }
  #container{
    margin:  auto;
    max-width: 768px;
  }
  #photo{
  border-radius:50%;
  height:8rem;
  width: 8rem;
  }
  #container{
  display:flex;
  }
   .b{
  display: inline-block;
  width: 250px;
  }
}
  

@media ( min-width : 992px ) { /*desktops*/

  .h1{
    font-size: 1.6rem ;
  }
  .h2{
    font-size: 1.4rem ;
  }
  .h3{
    font-size: 1.2rem ;
  }
  .p{
    font-size: 1rem ;
  }
  .sidebar{
    font-size: 1.4rem ;
    text-align: center;
  }
  #container{
    margin:  auto;
    max-width: 1200px;
  }
  #left{
    padding: 50px;
  }
  #photo{
  border-radius:50%;
  height:10rem;
  width: 10rem;
  }
   #container{
  display:flex;
  }
 
.b{
  display: inline-block;
  width: 250px;
  }
}

