
html{
  font-size: 100%;
}


a.class1,
a.class1:visited,
a.class1:active
a.class1:hover {
  color:#DCEDC8;
}

a.class2,
a.class2:visited,
a.class2:active
a.class2:hover {
  color:  #404040;
}

header{
  padding-top: 50px;
  padding-bottom:80px;
  text-align: center;
  background-color:  #333333;
  margin-left: -40px;
  margin-right: -50px;
}

#left{
  color:white;
  background-color:  #333333;
  width: auto;
  font-family: 'Arimo', sans-serif;
}

#left-image{
  size: auto;
  text-align: center;
  padding-bottom: 60px;
}

#left-github{
  text-align: center;
}

#right{
  background-color: #DCEDC8;
  font-family: 'Arimo', sans-serif;
  width: auto;
  padding-left: 40px;
  padding-bottom: 150px;
  padding-right: 50px;
}

#right-formation{
  margin-top: 35px;
}

#right-projets{
  margin-top: 35px
}

#right-experience{
  padding-top: 45px;
}

#projects-box{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.boxalign{
    margin-top: 14px;
}

#photo{
  border-radius:50%;
  height:10rem;
  width: 10rem;
}

.hr-black { 
  display: block;
  border-top: 1px solid black;
  max-width: 95%;
  margin-left: 0px;
}

.hr-white{
  display: block;
  border-top: 1px solid white;
  max-width: 100%;
}


@media (min-width:320px)  { /*smartphones*/
  #container{
    margin:  auto;
    width: 100%;
  }
  .h1{
    font-size: 0.8rem;
    font-weight: bold;
  }

  .h2{
    font-size: 0.8rem;
    font-weight: bold;
    color: #333333;
  }

  .h3{
    font-size: 0.7rem;
  }

  .p{
    font-size: 0.7rem;
  }
  .sidebar{
    font-size: 0.7rem ;
    text-align: center;
  }
  #photo{
    margin-top: 40px;
    margin-bottom: -60px;
    border-radius:50%;
    height:10rem;
    width: 10rem;
  }
  #left-contact{
    padding-top: 25px;
    width: 100%;
    height: 150px; 
  }
  #left-langues{
    padding-top: 25px;
    width: 100%;
    height: 150px;
  }
    #left-interet{
    padding-top: 25px;
    width: 100%;
    height: 150px;
  }
  .ul-left-c{
    text-align: center;
  }
  .ul-left-align{
    height: 60px;
    width: 140px;
    position: relative;
    text-align: justify;
    margin: 0 auto;
  }
  .ul-left-align2{
    height: 60px;
    width: 100px;
    position: relative;
    text-align: justify;
    margin: 0 auto;
  }
  #left-github{
    padding-top: 25px;
  }
  .hr-white{
    width: 10rem;
  }
  .projects-box{
    color: black;
    border: 1px solid black;
    height: 5rem;
    width: 10rem;
    padding:10px;
    background-color: white;
    text-align: center;
    margin-left: ;
  }
  .name{
    font-size: 1.8rem;
    padding-top: 40px;
    color: white;
    font-family: ADAM.CG PRO;
  }   
}

@media ( min-width : 768px ) { /*tablets*/
  #left{
    width: auto;
  }
  #right{
    width: auto;
  }
  .h1{
    font-size: 1.2rem ;
  }
  .h2{
    font-size: 0.9rem ;
  }
  .h3{
    font-size: 0.7rem ;
  }
  .p{
    font-size: 0.6rem ;
  }
  .sidebar{
    font-size: 1rem ;
    text-align: center;
  }
  #container{
    margin:  auto;
    max-width: 768px;
  }
  #photo{
    border-radius:50%;
    height:8rem;
    width: 8rem;
  }
  #container{
    display:flex;
  }
  .name{
    font-size: 2.4rem;
    padding-top: 40px;
    color: white;
    font-family: ADAM.CG PRO;
  }   
  #left-contact{
    padding-top: 125px;
    width: 100%;
    height: 150px; 
  }
  #left-langues{
    padding-top: 125px;
    width: 100%;
    height: 150px;
  }
    #left-interet{
    padding-top:125px;
    width: 100%;
    height: 150px;
  }
  .ul-left-c{
    text-align: center;
  }
  .ul-left-align{
    height: 60px;
    width: 140px;
    position: relative;
    text-align: justify;
    margin: 0 auto;
  }
  .ul-left-align2{
    height: 60px;
    width: 100px;
    position: relative;
    text-align: justify;
    margin: 0 auto;
  }
  .hr-white{
    max-width: 45%;
  }
  #left-github{
    padding-top: 145px;
  }
}
  

@media ( min-width : 992px ) { /*desktops*/
  .h1{
    font-size: 1.6rem ;
  }
  .h2{
    font-size: 1.3rem ;
  }
  .h3{
    font-size: 1.1rem ;
  }
  .p{
    font-size: 1rem ;
  }
  .sidebar{
    font-size: 1.4rem ;
    text-align: center;
  }
  #container{
    margin:  auto;
    max-width: 1300px;
    
  }
  #photo{
    border-radius:50%;
    height:10rem;
    width: 10rem;
  }
  #container{
    display:flex;
  }
  /*to erase??.b{ 
    display: inline-block;
    width: 250px;
    font-size: 1rem;
  } */
  .name{
    font-size: 2.8rem;
    padding-top: 40px;
    color: white;
    font-family: ADAM.CG PRO;
  }   
  #left{
    width: 28%;
  }
  #left-contact{
    padding-top: 115px;
    width: 100%;
    height: 150px; 
  }
  #left-langues{
    padding-top: 185px;
    width: 100%;
    height: 150px;
  }
  #left-interet{
    padding-top:215px;
    width: 100%;
    height: 150px;
  }
  .ul-left{
    margin-left: 30px;
  }

  .ul-left-align{
    height: 100px;
    width: 220px;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
  .ul-left-align2{
    height: 60px;
    width: 150px;
    position: relative;
    text-align: justify;
    margin: 0 auto;
  }
  .ul-left-align3{
    height: 60px;
    width: 50px;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
  #left-github{
    padding-top: 215px;
  }
  .at{
    width: 45px;
    height: 45px;
    margin-left: 12px;
  }
  .hr-white{
    width: 45%;
  }
  header{
    padding-top: 50px;
    padding-bottom:80px;
    text-align: center;
    background-color:  #333333;
    margin-left: -40px;
    margin-right: -50px;
  }
  .projects-box{
    color: black;
    border: 1px solid black;
    height: 5rem;
    width: 15rem;
    padding:15px;
    background-color: white;
    text-align: center;
    margin-left: -30px;
  }
}

